.amount_container
  .amount_top_index
    %h2 #{@user.nickname}さんのポイント

  .amount_price_content
    - amount_price = 0
    - point = 0
    - @sold_items.each do |item|
      - amount_price = amount_price + item.price
      - point = (amount_price * 0.1).round(0)
    = icon("fab", "pinterest-square")
    %p #{point}pt

  .back_to_mypage
    = link_to "マイページへ戻る", user_path(@user)
 