.user_content
  .user_content__info
    %h2 ユーザー名
    %p 出品数 : 〇〇  /  購入数 : 〇〇
  .user_content__items
    %ul
      %list 
        %a(href="#") 出品する
      %list 
        %a(href="#" class="exhibision-now") 出品した商品 - 出品中
        .exhibision-now-info
          .items
            .items-status 出品中
            =image_tag"mypage/food.png"
            %p 出品中商品名
      %list 
        %a(href="#" class="exhibision-end") 出品した商品 - 売却済み
        .exhibision-end-info
          .items
            .items-status 売却済
            =image_tag"mypage/food.png"
            %p 売却済み商品名
          .items
            .items-status 売却済
            =image_tag"mypage/food.png"
            %p 売却済み商品名
      %list 
        %a(href="#" class="purchase") 購入した商品 - 過去の取引
        .purchase-info
          .items
            .items-status 購入済
            =image_tag"mypage/food.png"
            %p 購入した商品名
<<<<<<< HEAD
=======
        %a(href="#") 出品した商品 - 出品中
      %list 
        %a(href="#") 出品した商品 - 売却済み
      %list 
        %a(href="#") 購入した商品 - 過去の取引
>>>>>>> parent of ee30beb... user_mypage_add_js
<<<<<<< HEAD
=======
            =image_tag"mypage/food.png",height:'60',width:'60'
            %p 購入した商品
>>>>>>> parent of 5e3a526... user_mypage_add_js-fix
=======
>>>>>>> parent of f8be647... revert ee30beb
=======
>>>>>>> parent of 0f3c41f... revert 5e3a526
      %list 
        %a(href="#") お問い合わせ
  .user_content__sales
    %p メルペイ
    %ul
      %list 
        %a(href="#") 売上金額
      %list 
        %a(href="#") ポイント
  .user_content__config
    %p 設定
    %ul
      %list 
        %a(href="#") 本人情報
      %list 
        %a(href="#") 発送・お届け先住所変更
      %list 
        = link_to 'カード情報',new_card_path
      %list 
        %a(href="#" class="log-out") ログアウト
        .log-out__btn
<<<<<<< HEAD
          %a(href="#") ログアウト
=======
これはユーザーマイページです
>>>>>>> parent of b5cf964... make_user_mypage&jquery/font-awesome_install
<<<<<<< HEAD
=======
        %a(href="#") ログアウト
>>>>>>> parent of de14004... make_log-out-page&refactoring
=======
          %a(href="#") ログアウト
>>>>>>> parent of d4f7aa5... revert b5cf964
=======
>>>>>>> parent of ba8a581... revert de14004
