.user_content
  .user_content__info
    %h2 ユーザー名
    %p 出品数 : 〇〇  /  購入数 : 〇〇
  .user_content__items
    %ul
      %list 
        = link_to '出品する',new_item_path
      %list 
        %a(class="exhibision-now") 出品した商品 - 出品中
        .exhibision-now-info
          .items
            .items-status 出品中
            =image_tag"mypage/food.png"
            %p 出品中商品名
      %list 
        %a(class="exhibision-end") 出品した商品 - 売却済み
        .exhibision-end-info
          .items
            .items-status 売却済
            =image_tag"mypage/food.png"
            %p 売却済み商品名
          .items
            .items-status 売却済
            =image_tag"mypage/food.png"
            %p 売却済み商品名
      %list 
        %a(class="purchase") 購入した商品 - 過去の取引
        .purchase-info
          .items
            .items-status 購入済
            =image_tag"mypage/food.png"
            %p 購入した商品名
      %list 
        %a(href="#") お問い合わせ
  .user_content__sales
    %p 売上情報
    %ul
      %list 
        %a(href="#") 売上金額
      %list 
        %a(href="#") ポイント
  .user_content__config
    %p 設定
    %ul
      %list 
        %a(href="#") 本人情報
      %list 
        %a(href="#") 発送・お届け先住所変更
      %list 
        = link_to 'カード情報',new_card_path
      %list 
        %a(class="log-out") ログアウト
        .log-out__btn
          = link_to "ログアウト",destroy_user_session_path , method: :delete

