.user_content
  .user_content__info
    %h2 ユーザー名
    %p 出品数 : 〇〇  /  購入数 : 〇〇
  .user_content__items
    %ul
      %list 
        %a(href="#") 出品する
      %list 
        %a(href="#") 出品した商品 - 出品中
      %list 
        %a(href="#") 出品した商品 - 売却済み
      %list 
        %a(href="#") 購入した商品 - 過去の取引
      %list 
        %a(href="#") お問い合わせ
  .user_content__sales
    %p メルペイ
    %ul
      %list 
        %a(href="#") 売上金額
      %list 
        %a(href="#") ポイント
  .user_content__config
    %p 設定
    %ul
      %list 
        %a(href="#") 本人情報
      %list 
        %a(href="#") 発送・お届け先住所変更
      %list 
        %a(href="#") カード情報
      %list 
        %a(href="#") ログアウト