.footer
  %div.footer__flex
    %ul.guide
      %li.about__FURIMA
        %div.furima FURIMAについて
        %div.content 会社概要（運営会社）
        %div.content プライバシー
        %div.content フリマ利用規約
        %div.content ポイントに関する特約
      %li.look__FURIMA
        %div.furima FURIMAを見る
        %div.content カテゴリー一覧
        %div.content ブランド一覧
      %li.guide__FURIMA
        %div.furima FURIMAについて
        %div.content 会社概要（運営会社）
        %div.content プライバシー
        %div.content フリマ利用規約
  %div.footer__logo
    = image_tag "logo/logo.png" , size: "180x55", class: 'logo'
    %p.copylight © FURIMA
.purchase_btn
  .purchase_btn_text
    出品する
  .purchase_btn_icon