.footer
  .footer__flex
    %ul.guide
      %li.about__FURIMA
        .furima FURIMAについて
        .content 会社概要（運営会社）
        .content プライバシー
        .content フリマ利用規約
        .content ポイントに関する特約
      %li.look__FURIMA
        .furima FURIMAを見る
        .content カテゴリー一覧
        .content ブランド一覧
      %li.guide__FURIMA
        .furima FURIMAについて
        .content 会社概要（運営会社）
        .content プライバシー
        .content フリマ利用規約
  .footer__logo
    = link_to "/" do
      = image_tag "logo/logo.png" , size: "180x55", class: 'logo'
    %p.copylight © FURIMA
  -# .purchase_btn
  -#   =link_to "/items/new" do
  -#     .purchase_btn_text
  -#       出品する
  -#     .purchase_btn_icon


