// cards/show.html.hamlのscssファイルです

@mixin border_top {
  border-top: solid 1px gainsboro;
}

@mixin border_bottom {
  border-bottom: solid 1px gainsboro;
}

@mixin border_right {
  border-right: solid 1px gainsboro;
}

.card-show {
  height: 100vh;
  width: 100%;
  background-color: rgb(245, 245, 245);
  padding: 100px 0;
}


.card-title {
  width: 700px;
  margin: 0 auto;
  font-size: 24px;
  padding: 8px 0;
  background-color: white;
  text-align: center;
  border-top: solid 1px gainsboro;

  h2 {
    font-weight: bold;
  }
}

.content-card {
  width: 700px;
  height: 150px;
  margin: 3px auto;
  background-color: white;
  font-weight: 600;

  .card-infomation{
    display: flex;
    .info-left {
      width: 40%;
      @include border_right();
      &--name {
        line-height: 50px;
        padding-left: 10px;
      }
      &--number {
        line-height: 50px;
        @include border_top();
        padding-left: 10px;
      }
      &--date {
        line-height: 50px;
        @include border_top();
        @include border_bottom();
        padding-left: 10px;
      }
    }
    .info-right {
      width: 40%;
      @include border_right();
      &--name {
        line-height: 50px;
        text-align: center;
      }
      &--number {
        line-height: 50px;
        @include border_top();
        text-align: center;
      }
      &--date {
        line-height: 50px;
        @include border_top();
        @include border_bottom();
        text-align: center;
      }
    }
    .btn {
      width: 20%;
      height: 152px;
      @include border_bottom();
      position: relative;
    }
    button {
      position: absolute;
      top: 57px;
      left: 40px;
      line-height: 30px;
    }
  }
}