// items/new.html.hamlのscssファイルです


// 変数定義
@mixin content_style {
  padding: 40px;
  margin: 0 auto;
  background-color: white;
  width: 45%;
  margin-bottom: 2px;
}

@mixin select_style {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(201, 198, 198);
  border-radius: 3px;
  padding-left: 10px;
}

//カテゴリー機能のscss部分（近藤）

#parent_category {
  width: 650px;
  height: 35px;
}
#child_category {
  width: 650px;
  height: 35px;
}
#grandchild_category{
  width: 650px;
  height: 35px;
}
.listing-default--require{
  background-color: #3CCACE;
  margin: 0 0 0 8px;
  padding: 3px 6px;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  vertical-align: top;
}
.listing-default__label {
  font-weight: bold;
}



// scss実装
.main-logo {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: rgb(245, 245, 245);

  .logo {
    height: 50px;
    width: 185px;
  }
}

.error_message_items_new{
  background-color: orangered;
  color: white;

  &__li {
    text-align: center;
  }
}

.item-container {
  height: 100％;
  width: 100%;
  background-color: rgb(245, 245, 245);
  padding-bottom: 150px;

  .field {

    &__label {
      display: flex;
      font-size: 15px;
      font-weight: bold;
      margin-top: 30px;
  
      span {
        background-color: #3CCACE;
        margin: 0 0 0 8px;
        padding: 1px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
    }

    &__input--line{
      margin-top: 10px;

      input {
        width: 98%;
        height: 40px;
        border: 1px solid rgb(201, 198, 198);
        border-radius: 3px;
        padding-left: 10px;
      }
    }

    &__input--text{
      margin-top: 10px;

      textarea {
        width: 98%;
        height: 140px;
        border: 1px solid rgb(201, 198, 198);
        border-radius: 3px;
        padding-left: 10px;
      } 
    }

    &__error-text {
      font-size: 13px;
      color: red;
      margin-top: 20px;

      .result-images {
        display: none;
      }

      .result-item-name {
        display: none;
      }

      .result-item-text {
        display: none;
      }

      .result-category {
        display: none;
      }

      .result-status {
        display: none;
      }

      .result-postage {
        display: none;
      }

      .result-prefecture {
        display: none;
      }

      .result-day {
        display: none;
      }

      .result-price {
        text-align: right;
        display: none;
      }
    }
  }

  h2 {
    color: rgb(139, 139, 139);
    font-weight: bold;
    font-size: 14px;
  }

  .field__select {
    margin-top: 10px;

    &--category {
      @include select_style();
    }

    &--status {
      @include select_style();
    }

    &--postage_type {
      @include select_style();
    }

    &--prefecture {
      @include select_style();
    }

    &--need_day {
      @include select_style();
    }
  }

  
  .item-images {
    @include content_style();

    .field {

      .image-info__message {
        margin-top: 10px;
        font-size: 13px;
        color: rgb(27, 27, 27);
      }

      &__input-images {
        padding-top: 15px;
        margin: 0 auto;
        width: 90%;
        

        .camera-icon {
          position: absolute;
          top: 50%;
          left: 50%;
        }

        p {
          color: rgb(27, 27, 27);
          font-size: 11px;
          text-align: center;
          position: absolute;
          top: 85px;
          left: 33%;
          cursor: pointer;
        }
      }

      #previews {
        width: 100%;
        height: 250px;
        overflow: scroll;
        background-color: rgb(245, 245, 245);
        border: 1px dashed rgb(192, 189, 189);
        img {
          margin: 20px 8px;
        }
      }

      .js-file_group{
        margin-top: 5px;
      }

      .js-remove {
        &:hover{
          padding: 3px;
          background-color: rgb(255, 115, 0);
          color: white;
          border-radius: 3px;
        }
      }
    }
  }

  .item-index {
    @include content_style();

    .field {

      .counter {
        font-size: 12px;
        float: right;
        color: rgb(112, 111, 111);
      }
    }
  }

  .item-info {
    @include content_style();

    .field {
      .field__label__any{
        background-color: #d6d8d8;
        margin: 0 0 0 8px;
        padding: 1px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
    }
  }

  .delivery-info {
    @include content_style();
  }

  .pay-info {
    @include content_style();

    .field {
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        height: 40px;
        border: 1px solid rgb(201, 198, 198);
        border-radius: 3px;
        width: 300px;
      }

      .input-price {
        text-align: right;
        
        &::placeholder {
          text-align: right;
        }
      }
    }
  }

  .exhibition-button {
    @include content_style();
    text-align: center;

    input.exhibition-button__btn {
      line-height: 40px;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      display: inline-block;
      border: none;
      height: 40px;
      width: 300px;
      background-color: #EA352D;
      color: white;
      border-radius: 3px;

      &:hover {
        background-color: #ca3027;
      }
    }

    a.back-btn {
      margin-top: 30px;
      display: block;
      text-decoration: none;
      color: #0095EE;

      &:hover{
        opacity: 0.6;
        text-decoration: underline;
      }
    }
  }
  
}