// sending_destinations/new.html.hamlのscssファイルです

body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

// 変数定義
@mixin text_size {
  font-size: 12px;
  font-weight: normal;
}

@mixin input_form {
  letter-spacing: 1px;
  padding: 8px 15px;
  border: solid 1px;
}

// scss実装
.address-page {
  width: 60%;
  margin: 0px auto;
  background-color:white;
  border: solid 0.5px gainsboro;
  h2 {
    letter-spacing: 3px;
    font-weight: bolder;
    font-size: 30px;
  }

  .main-head {
    padding: 30px;
    text-align: center;
    border-bottom: solid 0.5px gainsboro;
    margin: 0 auto;
  }
  .address-form {
    margin: 20px auto;
    width: 60%;
    .field {
      margin-bottom: 20px;
      &__label {
        width: 350px;
        display: flex;
        letter-spacing: 1px;
        font-size: 15px;
        font-weight: bolder;
        &__require {
          margin-left:8px;
          padding: 2px 4px;
          border-radius: 2px;
          color:white;
          font-size: 12px;
          vertical-align: top;
          font-weight: bolder;
          background-color:#3CCACE;
        }
      }
      &__input {
        width: 100%;
        margin-top: 5px;
        input {
          width: calc(100% - 32px);
          @include input_form();
        }
      }
      &__input--prefecture {
        width: 100%;
        margin-top: 5px;
        #input-prefecture {
          width: 150px;
          @include input_form();
        }
      }
      &__input-half {
        display: flex;
        width: 100%;
        margin-top: 5px;
        &__name {
          background-color: #3CCACE;
          margin-right: 30px;
          input {
            width: 90%;
            @include input_form();
          }
        }
      }
      &__error-text {
        @include text_size();
        color: red;
      }
    }
    .actions {
      .btn{
        font-weight: bolder;
        text-decoration: none;
        border: none;
        color: white;
        cursor: pointer;
        width: 100%;
        background-color: #3CCACE;
        height: 50px;
        line-height: 50px;
        letter-spacing: 3px;
        text-align: center;
        border-radius: 5px;
      }
    }
  }
}
