// user/show.html.hamlのscssファイルです

body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.user_content {
  height: 100vh;
  width: 60%;
  margin: 30px auto;

  &__info {
    height: 150px;
    width: 100%;
    background-image: url(mypage/user_background_img.jpeg);
    background-size: cover;
      
    h2 {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      color: white;
      font-weight: bolder;
      font-size: 30px;
      text-align: center;
      padding-top: 40px;
    }
    p {
      font-size: 15px;
      text-align: center;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      color: white;
      font-weight: bolder;
    }
  }

  &__items {
    margin-top: 40px;
    a {
      font-weight: bolder;
      height: 50px;
      display: block;
      width: 100%;
      border-top: 3px solid #9F99A3;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
      background-color: white;
      text-decoration: none;
      color: #333;
      margin: 10px 0px;
      text-align: center;
      font-size: 20px;
      line-height: 50px;

      &:hover {
        background-color: rgb(245, 245, 245);
        transform: scale(1.03);
      }
    }
  }

  &__sales {
    p {
      color: #3CCACE;
      margin-top: 30px;
      font-size: 20px;
      font-weight: bolder;
    }
    a {
      font-weight: bolder;
      height: 50px;
      display: block;
      width: 100%;
      border-top: 3px solid #9F99A3;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
      background-color: white;
      text-decoration: none;
      color: #333;
      margin: 10px 0px;
      text-align: center;
      font-size: 20px;
      line-height: 50px;

      &:hover {
        background-color: rgb(245, 245, 245);
        transform: scale(1.03);
      }
    }
  }

  &__config {
    margin-bottom: 50px;
    p {
      color: #3CCACE;
      margin-top: 30px;
      font-size: 20px;
      font-weight: bolder;
    }
    a {
      font-weight: bolder;
      height: 50px;
      display: block;
      width: 100%;
      border-top: 3px solid #9F99A3;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
      background-color: white;
      text-decoration: none;
      color: #333;
      margin: 10px 0px;
      text-align: center;
      font-size: 20px;
      line-height: 50px;

      &:hover {
        background-color: rgb(245, 245, 245);
        transform: scale(1.03);
      }
    }
  }
}


.exhibision-now-info {
  border: 1px solid rgb(105, 104, 104);
}

.exhibision-end-info {
  border: 1px solid rgb(105, 104, 104);
}

.purchase-info {
  border: 1px solid rgb(105, 104, 104);
}



.items {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid lightgray;
  
  p{
    line-height: 60px;
    margin-left: 50px;
  }
}